// 全局变量定义

// // 侧边菜单未激活文字
// $menuText: #BEBEC0;
// // 侧边菜单激活文字
// $menuActiveText: #409eff;
// // 侧边菜单背景
// $menuBg: #2D3037;

// $menuHover: rgb(36,38,44); // hover 颜色
// $subMenuBg:#606266; // 选中的背景
// $subMenuBorderLeft:#409EFF; // 选中侧边栏边框颜色

// $langDropdownActiveColor:#409EFF;
// $langDropdownActiveBg:#ecf5ff;


// 侧边菜单未激活文字
$menuText: var(--cq-menuText);
// 侧边菜单激活文字
$menuActiveText: var(--cq-menuActiveText);
// 侧边菜单背景
$menuBg: var(--cq-menuBg);

$menuHover: var(--cq-menuHover); // hover 颜色
$subMenuBg:var(--cq-subMenuBg); // 选中的背景
$subMenuBorderLeft:var(--cq-subMenuBorderLeft); // 选中侧边栏边框颜色

$langDropdownActiveColor:var(--cq-langDropdownActiveColor);
$langDropdownActiveBg:var(--cq-langDropdownActiveBg);
/**
主题样式变量
*/
// 侧边展开宽度
$sideBarWidth: 210px;
// 侧边闭合宽度
$sideBarMinWidth: 54px;
// 头部高度
$headerbarHeight:80px;
//appMain 内边距
$appMainPadding: 0px;
// 底部高度
$footerHeight:40px;
//navbar
$navBarHeight: 50px;
//tagsView 高度
$tagViewHeight: 32px;



:export {
  // color
  menuText: $menuText; //侧边菜单未激活文字
  menuActiveText:$menuActiveText; // 侧边菜单激活文字
  menuBg: $menuBg;// 侧边菜单背景
  menuHover: $menuHover;// hover 颜色
  subMenuBg: $subMenuBg;// 侧边菜单选中的背景
  sideBarWidth: $sideBarWidth;// 选中侧边栏边框颜色

  // px
  sideBarWidth:$sideBarWidth; // 侧边展开宽度
  sideBarMinWidth:$sideBarMinWidth; // 侧边闭合宽度
  headerbarHeight:$headerbarHeight; // 头部高度
  appMainPadding:$appMainPadding; //appMain 内边距
  footerHeight:$footerHeight;// 底部高度
  navBarHeight:$navBarHeight;//navbar
  tagViewHeight:$tagViewHeight//tagsView 高度
}